
[class*='col-']
{
	float: left;
	padding:0;
	text-align:center;
}

.right{
	float: right;
}

.col-header
{
	width:10%;
}

.col-products{
	width:33.3%;
}

.col-footer{
	width: 20%;
}

.grid:after{
	content:"";
	display:block;
	clear:both;


	
}

*,*:after, *:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


@media (max-width:1200px){
	.col-header{
		width:15%;
	}
}

@media (max-width:800px){
	.col-header{
		width:20%;
	}
	.col-products{
		width: 50%;
	}
}

@media (max-width:520px){
	.col-header{
		width:100%;
	}
	.col-products{
		width:100%;
	}
}
