body 
{
	font-family: 'Aclonica', sans-serif;
	font-size: 10px; 
	background-color: black;
}

/*

#head
{
	font-family: 'Aclonica', sans-serif;
	font-size: 1.5rem;
	position: relative;
	color:#0F0;
	background-color:#8e8e8e;
}
*/

#foot
{
	font-family: 'Aclonica', sans-serif;
	font-size: 1.2rem;
	color:#42D160;
	background-color:#8e8e8e;
}



a {
	color: #42D160;
	text-decoration:none;
	background-color:#8e8e8e;
}

a:visited
{
	color: #42D160; 
	text-decoration: none;
	background-color:#8e8e8e;
}

a:active {
	color: #009245;
	text-decoration: none;
	background-color:#383838;
}

a:hover {
	color: #FFFFFF; 
	text-decoration: none;
	background-color:#8e8e8e;
}

img.centered {
	display:block; 
	margin-left: auto; 
	margin-right: auto;
}

h1
{
	font-family: Nueva Std Bold,Arial, sans-serif;
	font-size: 3rem;
	color:#42D160;  
}

h2
{
	font-family: Helvetica Neue Bold,Arial, sans-serif;
	font-size: 2rem;
	color:#8e8e8e;  
}


p
{
	font-family: Helvetica Neue Light,calibri, sans-serif
	font-size: 5rem;
	color:#FFFFFF;
}

.site-navigation {
	display: block;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 40px;
}

.site-navigation ul {
  background: #3498DB;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.site-navigation li {
	color: #fff;
  background: #3498DB;
	display: block;
	float: left;
	margin: 0 2px 0 0;
	padding: 25px 18px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}
  
.site-navigation li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.site-navigation li:hover {
	@include transition(background, 0.2s);
	background: #52a6df;
	cursor: pointer;
}

.site-navigation ul li ul {
	background: #52a6df;
	visibility: hidden;
	float: left;
  min-width: 150px;
	position: absolute;
  transition: visibility 0.65s ease-in;
  margin-top:25px;
	left: 0;
	z-index: 999;
}

.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
   visibility: visible;
}

.site-navigation ul li ul li {
	clear: both;
	padding: 5px 0 5px 18px;
  width: 100%;
}

.site-navigation ul li ul li:hover {
	background: #74b7e4;
}

