body 
{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1rem; 
	background-image: url('../Backgrounds/gray.png');
	background-color: #8e8e8e;
	margin: 0;
}

/*black background container to hold content*/ 
.container-background{
	background-image: url('../Backgrounds/black.png');
	background-color: black;
	margin:0;
	margin-top:-1.5%;
	padding-top: 1%;
	padding-bottom:1%;
}

/*navigation bar*/
#topheader {
	background-image: url('../Backgrounds/gray.png');
	background-color: #8e8e8e;
	padding: 0;
	z-index: 1000;
}

/*navigation bar*/
#head {
	margin-top: 1em;
}

/*logo and home button, makes sure it scales to page*/
#logo{
	max-width:100%;
	height: auto;
	width: auto;
	padding: 0.5em;
}

/*page footer*/
#bottomfooter{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color:#42D160;
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	color: #42D160;
	text-decoration:none;
/*	background-color:#8e8e8e;*/
}

a:hover {
	color: #FFFFFF; 
	text-decoration: none;
/*	background-color:#383838;*/
}

a:active {
	color: #009245;
	text-decoration: none;
	background-color:#383838;
}

img.centered {
	display:block; 
	margin-left: auto; 
	margin-right: auto;
}

/*menu button when on mobile devices*/
#menu{
	display:none;
	text-align: center;
	background-image: url('../Backgrounds/gray.png');
	background-color: #8e8e8e;
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	padding:0.8rem 1.5rem;
	border: 0.2em solid white;
	margin-top: 2em;
}

#menu:hover{
	background-image: none;
	background-color: #4f4f4f;
	text-decoration: none;
	color: #42D160;
}

/*New Menu Bar Stuff*/
#nav
{
	margin: 0;
}

#ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}

#nav ul{
	margin: 0;
	padding: 0;
}

#nav ul li
{
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	color:#FFFFFF;
	margin: 0;

}

#nav ul li img
{
	vertical-align: middle;
	padding-left: 0.3rem;
}

#nav ul li:hover
{
	color:#42D160;
	background-color: #4f4f4f;
}

#nav ul li a,visited
{
	color: #FFFFFF;
	display: block;
	padding:0.8rem 1.5rem; /*top and bottom paddings, right and left paddings*/
	text-decoration: none;
	margin: 0;
}

#nav ul li a:hover
{
	color:#42D160;
	text-decoration: none;
}


#nav ul li:hover ul
{
	display: block;	/*When hover over, first ul li, want something to happen to ul ul*/
}

#nav ul ul /*I think it is this part that's messing up the sub-menu's weird space to the left.*/
{
	display:none; 
	position: absolute;
	background-image: url('../Backgrounds/gray.png');
	background-color: #8e8e8e;
	padding: 0;
	margin: 0;
	border-left: 0.2em solid white;
	border-right: 0.2em solid white;
	border-bottom: 0.2em solid white;
}

#nav ul ul li
{
	display:block;
}

#nav ul ul li a {
	font-weight: 300;
}

#nav ul ul li a,visited
{
	color:#FFFFFF;
	font-size: 1rem;
}

#nav ul ul li a:hover
{
	color:#42D160;
	margin-top: 0px;
}

/*page content section*/
.content {
	margin: 1.5em 3.5em;
	padding: 1em 6em 4em 6em;
	border: 0.2em solid white;
	background-image: url('../Backgrounds/gray.png');
	background-color: #8e8e8e;
}

/*title of page section*/
.title{
	padding-bottom: 1em;
}

/*title level font*/
h1
{
	font-family: 'Aclonica', sans-serif;
	font-size: 3rem;
	color:#42D160;  
	margin: 0;
	text-align: center;
}

/*content in paragraphs font*/
p
{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	color:#FFFFFF;
}


/*css for information style page*/
.info{

}

/*subheaders font*/
h2
{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color:#4f4f4f;  
	margin: 0.8em 0;
	text-align: center;
}

h4
{
	font-family: 'Roboto Condensed', sans-serif;
	color:#4f4f4f; 
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}

/* css for product style page */

.products{
	margin-left:1.75em;
	margin-right: 1.75em;
}

/*product name*/
.products h2 {
	margin: 0;
	margin-top: 0.3em;
}

/*product images*/
.product-img {
	height: auto;
	width: auto;
	max-width: 100%;
	padding: 0;
}

/*product description*/
.products p{
	text-align: left;
}

.h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	color:black;  
	text-align: center;
}

.button {
	display:block;
	max-width: 60%;
	text-align: center;
	background-image: url('../Backgrounds/gray.png');
	background-color: #8e8e8e;
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	padding:0.8rem 1.5rem;
	margin: 1em auto;
	border: 0.2em solid white;
}

.button:hover{
	background-image: none;
	background-color: #4f4f4f;
	color:#42D160;
	text-decoration: none;
}

/*dark page overlay when product is clicked */
#overlay{
	display:none;
	position: absolute;
	top: 0;
	left: -20%;
	width: 140%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: 9000;
}

/*enlarged product preview overlay*/
.product-preview{
	display: none;
	position: absolute;
	left: 15%;
	width: 60%;
	max-height: 60%;
	background-image: url('../Backgrounds/gray.png');
	background-color: #8e8e8e;
	margin: 2.5em 3.5em;
	padding: 1em 6em 4em 6em;
	border: 0.2em solid white;
	z-index: 9999;
}

.other .product-preview{
	max-height: 90%;
}

.product-preview h3{
	text-align: center;
}

/*items in cart*/
.cart-product{
	padding: 0.5em;
}

.cart-product img{
	margin-right: 1em;
}

/*old stuff*/
/*
.sub-header a{
	display: block;
}
*/

/*
.site-navigation {
	display: block;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 40px;
}

.site-navigation ul {
  background: #3498DB;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.site-navigation li {
	color: #fff;
  background: #3498DB;
	display: block;
	float: left;
	margin: 0 2px 0 0;
	padding: 25px 18px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}
  
.site-navigation li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.site-navigation li:hover {
	@include transition(background, 0.2s);
	background: #52a6df;
	cursor: pointer;
}

.site-navigation ul li ul {
	background: #52a6df;
	visibility: hidden;
	float: left;
  min-width: 150px;
	position: absolute;
  transition: visibility 0.65s ease-in;
  margin-top:25px;
	left: 0;
	z-index: 999;
}

.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
   visibility: visible;
}

.site-navigation ul li ul li {
	clear: both;
	padding: 5px 0 5px 18px;
  width: 100%;
}

.site-navigation ul li ul li:hover {
	background: #74b7e4;
}
*/