.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


[class*='col-']
{
	float: left;
	padding:0;
	text-align:center;
}

.right{
	float: right;
}

#home{
	width:20%;
}

#topheader{
	width: 80%;
}

.col-header
{
	width:20%;
}

.col-products{
	width:33.3%;
}

.col-footer{
	width: 20%;
}

.grid:after{
	content:"";
	display:block;
	clear:both;


	
}

*,*:after, *:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

@media (max-width: 1200px){
	#home{
		width:12%
	}
	#topheader{
		width: 88%;
	}
}

@media (max-width:1000px){
	.container{
		width: 90%;
	}
	.col-products{
		width: 50%;
	}
}

@media (max-width:700px){
	.container{
		width: 95%;
	}
	#home{
		display: block;
		width: 100%;
	}
	.col-header{
		width:100%;
	}
	.col-products{
		width:100%;
	}
}
